body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #15151d;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url('./f1.jpeg'); /* Path to the image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-header {
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.drivers-container {
  width: 100%;
}

.drivers-container h1 {
  font-size: 45px;
  margin-bottom: 20px;
  color: white

}

.drivers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.driver-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.9;
  background-color: #e0e0e0;
  padding: 10px;
  width: 400px; /* Adjusted width for a uniform look */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.driver-display:hover {
  background-color: #d0d0d0;
}

.driver-name {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-right: 10px;
}

.driver-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.driver-details {
  padding: 20px;
}

.driver-details-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-link {
  color: #007bff;
  cursor: pointer;
  margin-bottom: 20px;
  display: inline-block;
}

.back-link:hover {
  text-decoration: underline;
}

.driver-details h1 {
  margin-bottom: 10px;
  font-size: 45px;
  color: white;
}

.driver-details img {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.driver-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.driver-info p {
  margin: 0;
  font-size: 16px;
}

.driver-info span {
  font-weight: bold;
}
